.DenominationOption,
.OtherDenominationOption {
    min-width: 100px;
    background: var(--amplify-colors-background-secondary);
    border-color: var(--amplify-colors-border-primary);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 200%;
    cursor: pointer;

    font-weight: 600;

    text-align: center;
}

@media only screen and (max-width: 768px) {
    .DenominationOption,
    .OtherDenominationOption {
        font-size: 150%;
        padding: 5px;
    }
}

.DenominationOption-Selected,
.OtherDenominationOption-Selected {
    color: var(--amplify-colors-font-inverse);
    background: var(--amplify-colors-green-60);
    border-color: var(--amplify-colors-green-90);
}

.OtherDenominationOption-Selected.OtherDenominationOption-Invalid {
    color: var(--amplify-colors-font-inverse);
    background: var(--amplify-colors-red-60);
    border-color: var(--amplify-colors-red-90);
}


.DenominationOption {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.OtherDenominationOption {
    outline: none;
}

